* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.container {
  width: 100vw;
  padding: 30px;
}

.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid black;
}

.box {
  width: 25%;
  aspect-ratio: 1/1;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
